.box-information {
    
    & .single-box {
        text-align: center;
        width: 100%;
        color: $white;
        
        @mixin atVerySmall {
            width: 50%;
            float: left;
            
            &:last-child {
                width: 100%;
            }
        }
        
        @mixin atSmall {
            width: 33.3%;
            float: left;
            
            &:last-child {
                width: 33.3%;
            }
        }
    }
    
    & .single-box:nth-child(1) {
        background-color: $primary;
    }
    
    & .single-box:nth-child(2) {
        background-color: $secondary;
    }
    
    & .single-box:nth-child(3) {
        background-color: $red;
    }
    
    & .single-box img {
        width: 100%;
        display: block;
    }
}

.box-information .single-box {
    & h3 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-top: 0px;
    }
    
    & p {
        margin-bottom: 0px;
    }
    
    & .content-box {
        padding: 10px;
        vertical-align: middle;
        display: table-cell;
    }
}





