.home {
    & .hero {
        height: 750px;
        top: 0;
        z-index: 0;
    }
    
    & .main-content {
        @mixin atSmall {
            margin-top: 0;
        }
    }
    
    & .hero-text {
        @mixin atSmall {
            width: 50%;
        }
        
        @mixin atMedium {
            width: 40%;
        }
    }
    
    & .hero-text p {
        line-height: 40px;
        font-size: 1.125rem;
        
    }
}

/** Call to action button **/

.secondary {
    background-color: $orange;
    padding: 15px 30px;
    transition: background-color .3s ease;
}

.secondary:hover {
    background-color: $darkorange;
}

.page-id-87 .hero {
    top: 0;
}














