.home {
    & .hero {
        height: 750px;
        top: 0;
        z-index: 0;
    }
    
    & .main-content {
        @mixin atSmall {
            margin-top: 0;
            padding: 0;
        }
    }
    
    & .hero-text {
        @mixin atSmall {
            width: 50%;
        }
        
        @mixin atMedium {
            width: 40%;
        }
    }
    
    & .hero-text p {
        line-height: 40px;
        font-size: 1.125rem;
        
    }
}

/** Call to action button **/

.secondary {
    background-color: $orange;
    padding: 15px 30px;
    transition: background-color .3s ease;
}

.secondary:hover {
    background-color: $darkorange;
}

.page-id-87 .hero {
    top: 0;
}

.specialty-content {
    position: relative;
    overflow: hidden;
    padding: 0;
    
    & .information {
        position: absolute;
        top: 50%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($orange, .75);
        text-align: center;
        color: $white;
        padding: 5px;
        opacity: 0;
        transition: all .2s ease-in-out;
        
        & a {
            color: $white;
        }
        
        
        & h3 {
            font-size: 1.875rem;
            margin-top: 40px;
            font-weight: 700;
            color: $white;
        }
    }
    
    & .information .price {
        font-size: 3.75rem;
        font-weight: 700;
        margin-top: 30px;
    }
    
    & .information p {
        margin: 0 0 10px 0;
        color: $white;
    }
}

.specialty-content:hover .information {
    top: 0;
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .specialty-content {
        overflow: visible;
        display: block;
        margin-bottom: 30px;
    }
    
    .specialty-content .information {
        position: relative;
        opacity: 1;
        background-color: $orange;
        padding: 30px;
    }
    
    .specialty-content img {
        width: 100%;
    }
}








