#gallery-1 img {
    border: none!important;
}

#gallery-1 .gallery-item {
    width: 50%!important;
    margin: 0;
    padding: 0px 5px;
    
    @mixin atSmall {
        width: 25%!important;
    }
}
