.main-content {
    padding: 20px;
    background-color: $white;
    position: relative;
    
    @mixin atSmall {
        margin-top: -90px;
        padding: 60px;
    }
}

.main-content .content-text {
    font-size: 1.05rem;
    line-height: 30px;
    
    @mixin atSmall {
        font-size: 1.125rem;
        line-height: 50px;
    }
}