.entry-information {
    
    padding-top: 30px;
    
    & .date {
        background-color: $orange;
        float: left;
        width: 70px;
        height: 70px;
        text-align: center;
        margin-right: 20px;
    }
        
    & .author {
        font-size: 0.8rem;
        text-transform: uppercase;
        color: $black;
        font-family: 'Raleway', sans-serif;
        margin-top: 10px;
        
        & i {
            font-size: 1.2rem;
            color: $orange;
            margin-right: 2px;
        }
    }
    
    & time {
        font-size: 1.7rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        position: relative;
        top: 5px;
        
        @mixin atSmall {
            font-size: 1.875rem;
            top: 0;
        }
    }

    & time span {
        font-size: 1rem;
        display: block;
        text-transform: uppercase;
        
        @mixin atSmall {
            margin-top: -27px;
        }
    }
}













