nav.socials ul {
    list-style: none;
    text-align: center;
    padding: 0;
    
    @mixin atSmall {
        float: right;
    }
    
    & li {
        position: relative;
        display: inline-block;
    }
    
    & li a::before {
        font-family: 'FontAwesome';
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;
        content: '\f08e';
        font-size: 1.875rem;
        color: $black;
        -webkit-font-smoothing: antialiased;
    }
    
    & li a[href*="facebook.com"]::before {
        content: '\f09a';        
    }
    
    & li a[href*="twitter.com"]::before {
        content: '\f099';        
    }
    
    & li a[href*="pinterest.com"]::before {
        content: '\f231';        
    }
    
    & li a[href*="youtube.com"]::before {
        content: '\f16a';        
    }
    
    & li a[href*="instagram.com"]::before {
        content: '\f16d';        
    }
}